@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --header-color: #c7a073;
  --footer-color: teal;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url(./components/img/dg-blue.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* HEADER */

.header {
  opacity: 0.9;
  width: 100%;
  margin-top: 5px;
  height: 170px;
  background-color: var(--header-color);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.header__container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 2px black solid;
}

.header__title {
  margin-top: 5px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
}

.header__title__sign {
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.7;
  padding-bottom: 10px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.76);
}

.nav {
  display: flex;
  display: flex;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  width: 70%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 0 auto;
}

.nav__link {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 0.1s linear;
  padding: 0 50px;
}

.nav__link:hover {
  opacity: 1;
}

/* MAIN */

.intro__container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.884);
  padding: 10px;
  border-top: 5px dotted #58f5edcb;
}

.intro__sign {
  text-align: left;
  width: 30%;
  margin-left: 5px;
}

.intro__photo {
  text-align: right;
}

.photo-list-item-main img {
  border-radius: 100%;
  width: 190px;
  height: 190px;
  box-shadow: 0 10px 25px rgba(72, 72, 72, 0.2);
}

.pale {
  opacity: 0.7;
}

.flex {
  display: flex;
  flex: 1;
  max-width: 1300px;
  margin: auto;
}

.flex-left {
  width: 300px;
  margin-top: 10px;
}

.photo-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 30px auto;
}

.photo-list-item-main {
  width: 30%;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}

.flex-left p {
  font-size: 22px;
}

/* CONTACT */

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.884);
  padding: 10px;
  border-top: 5px dotted #58f5edcb;
}

.info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.info img {
  height: 250px;
}

.info article {
  margin: 5px;
  height: 150px;
}

.contact__info {
  display: flex;
  justify-content: space-around;
}

.form {
  width: 400px;
  border: 1px solid black;
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
}

.form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form .__form {
  margin: 0 auto;
  text-align: center;
}

.form input {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 15px;
}

#message {
  max-width: 90%;
  min-width: 90%;
  max-height: 250px;
  min-height: 150px;
  padding: 5px;
}

#submit {
  margin-top: 10px;
  background-color: teal;
  border: 2px solid rgb(63, 63, 63);
  border-radius: 3px;
}

.numbers {
  width: 50%;
  padding: 20px;
}

.numbers img {
  height: 50px;
  margin: 10px;
}

.numbers .img a {
  text-decoration: none;
}

.tel {
  display: flex;
  flex-direction: column;
}

.tel a {
  margin-bottom: 4px;
  color: rgb(100, 71, 43);
  transition: all 0.1s ease;
  font-size: 1.2em;
  font-weight: 900;
  margin: 5px;
}

.tel a:hover {
  color: rgb(0, 0, 0);
}

/* CATALOG */

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.884);
  padding: 10px;
  border-top: 5px dotted #58f5edcb;
}

.photo-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  max-width: 90%;
  margin: 30px auto;
}

.photo-list h2 {
  margin: 5px auto;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}

.photo-list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 250px;
  padding: 10px;
  position: relative;
  border: 1px solid rgba(151, 151, 151, 0.2);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.photo-list-item img {
  height: 228px;
  width: 228px;
}

.child .photo-list-item:hover {
  background-color: rgba(233, 187, 187, 0.712);
}

.adult .photo-list-item:hover {
  background-color: rgba(162, 184, 209, 0.712);
}

.child,
.adult {
  width: 50%;
}

.child {
  border-right: 1px solid rgba(72, 72, 72, 0.2);
}

.photo-list-item article {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.catalog {
  overflow: hidden;
  text-decoration: none;
  color: black;
}

/* EXAMPLES */

.examples {
  padding: 40px;
}

.examples button {
  background-color: var(--header-color);
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
}

.examples a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.example__img img {
  height: 300px;
  border-radius: 5px;
}

/* INFO */

.info__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.info__block {
  border: 1px solid rgb(177, 177, 177);
  border-radius: 10px;
  height: 200px;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255);
  opacity: 0.8;
  transition: all 0.1s ease;
  padding: 10px;
}

.info__block:hover {
  opacity: 1;
}

.img100 {
  height: 100px;
}

.img200 {
  height: 200px;
}
.img250 {
  height: 250px;
}

/* FOOTER */

.footer {
  height: 200px;
  width: 100%;
  max-width: 1300px;
  background-color: var(--footer-color);
  margin: auto;
  font-size: 20px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
}
.footer .img {
  text-align: right;
}

.footer img {
  margin: 5px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer img {
  height: 50px;
}

.footer .tel a {
  color: rgb(127, 212, 233);
}

.footer .tel a:hover {
  color: black;
}

@media screen {
}
